<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
       <h3>Maping the JSON</h3>

      <ul class="nav navbar-nav">

      </ul>
    </div>

  </div>
</nav>
